doctype html
html
  head
    title Form Example
    script(src='/main.js')
  body
    h1 Submit Your Message
    form(action='/submit', method='post')
      label(for='name') Name:
      input(type='text', id='name', name='name', required)
      br
      label(for='message') Message:
      textarea(id='message', name='message', required)
      br
      button(type='submit') Submit
    ul
      li Message