doctype html
html
  head
    title Translate Phrase
    script.
      document.addEventListener('DOMContentLoaded', (event) => {
        const form = document.querySelector('form');
        const input = document.getElementById('phrase');
        const warning = document.createElement('p');
        warning.style.color = 'red';
        
        form.addEventListener('submit', (event) => {
          if (input.value.length < 3) {
            event.preventDefault();
            warning.textContent = 'The phrase is too short!';
            form.insertBefore(warning, form.firstChild);
          }
        });
      });
  body
    h1 Translate Your Phrase
    form(action="/translate" method="post")
      label(for="phrase") Phrase to Translate:
      input(type="text" id="phrase" name="phrase" required)
      button(type="submit") Translate
    if translatedPhrase
      h2 Translated Phrase
      p= translatedPhrase